@using MvcVue.Controllers;
@using System.Text.Json;
@model EditorViewModel;
@addTagHelper "*, Microsoft.AspNetCore.SpaServices"

@{
    var data = JsonSerializer.Serialize(Model);
}

@{
    ViewData["Title"] = "Vue Editor";
}

<h1>@ViewData["Title"]</h1>

<div id="multiStep" data-model="@data"></div>
<script type="module" src="~/app/multistep.js"></script>
