@addTagHelper "*, Microsoft.AspNetCore.SpaServices"
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="app"></div>
<script type="module" src="~/js/app/{{manifest[main.ts].file}}"></script>
